@import '~bootstrap/scss/bootstrap';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

$primary-btn: #830983c9;
$btn-hover: #5c045cc9;

.no-radius {
	border-radius: 0px;
}

// nav

.navbar {
	padding: 15px 50px;
	font-size: 1.1em;
	background-color: #830983c9;
}

.shadow-bg {
	background-color: rgba($color: #830983, $alpha: 0.5);
	transition: background-color 0.6s;
}
.shadow-bg-click {
	background-color: rgba($color: #830983, $alpha: 1);
	transition: background-color 0.6s;
}

.bg-shadow {
	background-image: linear-gradient(
		90deg,
		rgba(175, 36, 140, 0.39) 0%,
		rgba(98, 14, 107, 0.329) 50%
	);
	height: 100vh;
}

.btnLogin-popup {
	width: 80px;
	height: 35px;
	border-radius: 6px;
	color: #fff;
	background-color: transparent;
	border: 2px solid #fff;
	transition: 0.5s;
}
.btnLogin-popup:hover {
	background-color: #fff;
	border: 2px solid #fff;
	color: black;
}
.icon-close{
		position: absolute;
		top: 0;
		right: 0;
		width: 45px;
		height: 45px;
		background-color: #162938;
		font-size: 2em;
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		border-bottom-left-radius: 20px;
		cursor: pointer;
		z-index: 1;
	}
	
	
.form-box{
		width: 100%;
		padding: 40px;

		h2 {
			font-size: 2em;
			text-align: center;
		}
		
	}

.input-box{
		position: relative;
		width: 100%;
		height: 50px;
		border-bottom: 2px solid #162938;
		margin: 30px 0;

	label {
			position: absolute;
			top: 50%;
			left: 5px;
			transform: translateY(-50%);
			font-size: 1em;
			color: #162938;
			font-weight: 500;
			pointer-events: none;
			height: 100%;
			transition: 0.5s;
	}
	input:focus~label,
	input:valid~label {
		top: -5px;
	}
	input{
		width: 100%;
		height: 100%;
		background-color: transparent;
		border: none;
		outline: none;
		font-size: 1em;
		color: #162938;
		font-weight: 600;
		padding: 0 35px 0 5px;
		
	}
	.icon {
		position: absolute;
		right: 8px;
		font-size: 1.2em;
		line-height: 57px;
		}
	}
	.remember-forgot {
		font-size: .9em;
		color: #162938;
		font-weight: 500;
		margin: -15px 0 15px;
		display: flex;
		justify-content: space-between;

	label input {
		accent-color: #162938;
		margin-right: 3px;
		}

	a {
		color: #162938;
		text-decoration: none;
	}
	a:hover {
			text-decoration: underline;
	}
	}
	.btn-submit {
		width: 100%;
	}
	.login-register{
		font-size: 0.9em;
		color: #162938;
		text-align: center;
		font-weight: 500;
		margin: 25px 0 10px;
	}
	.input-margin{
		margin:30px 15px ;
	}
	

// carousel
.carousel {
	position: relative;
	height: 100vh;
}

.carousel-item {
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.slide1 {
	background-image: linear-gradient(
			to right top,
			#9007799f,
			#8f00886e,
			#8c00965b,
			#8303a688,
			#7711b7ab
		),
		url('https://cdn.pixabay.com/photo/2020/03/27/19/27/airplane-4974678_960_720.jpg');
	background-repeat: no-repeat;
	background-position: center;
}
.slide2 {
	background-image: linear-gradient(
			to right top,
			#900779bb,
			#8f00886e,
			#8c00968a,
			#8303a6a1,
			#7711b777
		),
		url('https://cdn.pixabay.com/photo/2018/09/25/17/14/airplane-3702676_960_720.jpg');
	background-repeat: no-repeat;
	background-position: center;
}
.slide3 {
	background-image: linear-gradient(
			to right top,
			#9007799f,
			#8f00886e,
			#8c009680,
			#8303a698,
			#7711b7ab
		),
		url('https://cdn.pixabay.com/photo/2018/04/20/16/22/silhouette-3336437_960_720.jpg');
	background-repeat: no-repeat;
	background-position: center;
}

// header

header {
	position: relative;
	height: 100vh;
	overflow: hidden;

}

section {
	height: fit-content;

}

.mainForm {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.modal {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 50%;
	transform: translateX(-50%);
}

.main-heading {
	font-size: 3rem;
	color: #ffffff;
}
.btn {
	background-color: $primary-btn;
	color: white;
	transition: 0.2s ease-in-out;
}
.btn:hover {
	background-color: $btn-hover;
	color: white;
	border-color:  #fff;
}

.btn-secondary {
	background-color: #fff;
	color: black;
	transition: 0.2s ease-in-out;
}
.btn-secondary:hover {
	background-color: #9c9999;
	color: white;
}

.formSummary {
	background-color: $btn-hover;
	padding: 45px;
	border-radius: 8%;
	box-shadow: 15px 15px 150px 0px $primary-btn;
	border: 3px solid $primary-btn;
	color: #fff;

	.row {
		margin: 10px;
	}
}

#planePic1 {
	width: 100%;
	height: auto;
	margin: 15px;
	
}

.hero-form {
	background-color: #ffffff;
	padding: 45px;
	border-radius: 20% 0%;
	box-shadow: 8px 8px 43px 0px rgba(66, 68, 90, 1);
	border: 3px solid $primary-btn;

	.row {
		padding-top: 10px;
	}
	.fa,
	.fa-solid {
		color: $primary-btn;
		font-size: 3em;
	}
	.luggageOption {
		border: dashed $primary-btn 3px;
		border-radius: 5%;
		margin-top: 15px;
		padding-bottom: 10px;
		text-align: center;
	}
	input,
	i {
		cursor: pointer;
	}
}
.reservation-form {
	background-color: #ffffff;
	padding: 45px;
	border-radius: 10% 0%;
	box-shadow: 3px 3px 13px 0px rgba(66, 68, 90, 1);
	border: 3px solid $primary-btn;
	margin-top: 15px;

	.row {
		padding-top: 10px;
	}
	.fa,
	.fa-solid {
		color: $primary-btn;
		font-size: 3em;
	}
	.luggageOption {
		border: dashed $primary-btn 3px;
		border-radius: 5%;
		margin-top: 15px;
		padding-bottom: 10px;
		text-align: center;
	}
	input,
	i {
		cursor: pointer;
	}
}

.seat-input {
	display: flex;
	justify-content: center;
	align-items: center;
}
select {
	cursor: pointer;
}

.title {
	margin: 15px 0px;
}

.summary-info {
	background-color: #fff;
	padding: 25px;
	border-radius: 3%;
	box-shadow: 8px 8px 43px 0px rgba(66, 68, 90, 1);
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fade-in {
	animation: fadeIn 1s ease-out;
}

//// seats select

.plane {
	margin: 20px auto;
	width: 300px;
	background-color: #fff;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	border: $primary-btn solid 5px;
	height: 500px;

	.exit {
		height: 50px;
		position: relative;
	}

	.exit:before,
	.exit:after {
		content: 'EXIT';
		font-size: 14px;
		line-height: 18px;
		padding: 0 2px 2px 2px;
		display: block;
		position: absolute;
		background-color: red;
		color: white;
		top: 400%;
		transform: translate(0, -50);
		border-radius: 5px;
	}
	.exit:before {
		left: 10px;
	}

	.exit:after {
		right: 10px;
	}
	ol {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.seats {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
	}

	.seat {
		display: flex;
		flex: 0 0 14.28%;
		padding: 5px;
		position: relative;
		top: 180px;
		left: 0px;

		label {
			display: block;
			position: relative;
			width: 100%;
			text-align: center;
			font-size: 14px;
			line-height: 1.5rem;
			padding: 4px 0;
			background-color: rgb(49, 53, 49);
			border-radius: 5px;
			color: #ffffff;
		}
		label:hover {
			cursor: pointer;
			box-shadow: 0 0 0px 2px green;
		}
		input[type='checkbox'] {
			position: absolute;
		}
	}
	.seat:nth-child(3) {
		margin-right: 14%;
	}
	.selected {
		label {
			background-color: #18d118;
			color: black;
		}
	}
}
////// currency calc
.currencyCalc {
	label {
		display: block;
		font-weight: 600;
		margin: 5px;
	}
	input#ammount {
		font-weight: 400;
		font-size: 1.2em;
		display: block;
		width: 100%;
		border-bottom: 2px solid #02002c;
		color: #7a789d;
	}
	input#ammount:focus {
		color: $primary-btn;
		border-color: $primary-btn;
	}
	input,
	select {
		margin: 5px;
	}
	.dropdowns {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

//// weather app 1
.card {
	background-color: #000000d0;
	color: #fff;
	padding: 2em;
	border-radius: 30px;
	width: 100%;
	max-width: 420px;
	text-align: center;
	.search {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	button {
		margin: 0.5em;
		border-radius: 50%;
		border: none;
		height: 2.5em;
		width: 2.5em;
		outline: none;
		background-color: #7c7c7c2b;
		color: white;
		cursor: pointer;
		transition: 0.2s ease-in-out;
	}
	button:hover {
		background-color: #7c7c7c6b;
	}
	input {
		border: none;
		outline: none;
		padding: 0.5em 1em;
		border-radius: 18px;
		background-color: #7c7c7c2b;
		color: white;
		font-family: inherit;
		font-size: 120%;
		width: calc(100% - 100px);
	}
	.weather-icon {
		width: 30px;
		height: auto;
		margin: 10px;
		text-align: center;
	}
}

//// weather app 2
.searchButton{
	margin: 0.5em;
		border-radius: 50%;
		border: none;
		height: 2.5em;
		width: 2.5em;
		outline: none;
		background-color: #7c7c7c2b;
		color: white;
		cursor: pointer;
		transition: 0.2s ease-in-out;
}



@media only screen and (max-width: 767px) {
	.hero-form {
		width: 90%;
		margin: 20px;
	}

	.right-text {
		display: none;
	}

	.main-heading {
		font-size: 2.4rem;
		text-align: center;
	}
	.slider {
		position: absolute;
	}
	.navbar {
		padding: 10px;
	}
}
@media only screen and (min-width: 768px) {
	.top-text {
		display: none;
	}
}
@media only screen and (min-width: 767px) and (max-width: 1000px) {
	.main-heading {
		font-size: 2.3rem;
	}
}
@media only screen and (min-width: 1000px) {
	.slider {
		position: absolute;
		margin-top: -250px;
	}
}
